.amarillo {
	background-color: yellow;
		}
.rojo{
	background-color: red;
	}
.azul {
	background-color: blue;
}
div {height: 10%;
	 width: 100%;
	 font-size: 100%;
	 text-align: left;
	 padding-bottom: 0%;
	 }
p 	{margin-bottom: 0%;
	text-align: left;
	padding-bottom: 5%;
	padding-top: 0%;
	display: inline-block;
	}
.pdbott {
		}
.pdleft15 {padding-left: 1px;
		}
.pdtop{
	padding-top: 1%;
		}
.may	{
	text-transform: uppercase;
		}
.pinline{
	display: inline-block;
		}