div {
	 padding-left: 2%;
	 padding-right: 1%;
	 padding-top: 1%;
	 padding-bottom: 1%;
	 margin: 1%;
	 display: inline-block;
	 }
p 	{margin: 0%;
	text-align: left;
	font-size: 100%;
	display: inline-block;
	}
.grande {
	 height: 100%;
	 width: 100%;
	 text-align: left;
	 padding-bottom: 0%;
	 margin-bottom: 2%;
	 }
.pdbott {padding-bottom: 1%;
		}
.pdleft15 {padding-left: 1%;
		}
.pdtop{
	padding-top: 1%;
		}
.may	{
	text-transform: uppercase;
		}
.pinline{
	display: inline-block;
		}
.amarillo {
	background-color: yellow;
		}
.rojo{
	background-color: red;
	}
.azul {
	background-color: blue;